<table class="table table-striped">
    <tr>
      <th><% attachment_image_tag(user, :profile_image_id, :fill, 100, 100, fallback: "noimage-1.png") %></th>
      <th></th>
    </tr>
    <tr>
      <th>name</th><br
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
</table>
<div class='row'>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
</div>