<div class = "container" >
  <div class = "row" >
    <div class = "col-mid-3">
      <h2>user info</h2>
        <%= render 'info', user: @user %>
      <h2>New book</h2>
        <%= render 'books/form' %>
    </div>
    <div class = "col-mid-8 offset-md-1">
      <h2>Books</h2>
        <%= render 'books/index' %>
    </div>
  </div>
</div>
